/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top:45px;
    left:555px;
    zoom:0.6;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 40px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    margin-top:30px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 2px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 40px; /* Same as the width of the sidebar */  
  }
  
  .modelcard {
      width:390px;
      height:70px;
      margin-left:20px;
      margin-top:7px;
      background-color:white;
      position:relative;
      border-radius:10px;

  }

  
  .modelcard_image {
    width:90px;
    height:70px;
    top:0px;
    position:relative;
  }

  .modelcard_imagespinner {
    width: 50px;
    height: 40px;
    top: 12px;
    left: 16px;
    position: relative;
}

.modelcard_info{
    left:100px;        
    top:0px;
    font-size:12px;
    position:absolute;
    font-weight: 500;
}

.modelcard_title{   
    font-size:12px;
    font-weight: 500;
}

.modelcard_size{
  font-size:10px;
}

.modelcard_modeltree{
    background-color:white;
    width:390px;
    margin-left:40px;
}

.userbutton {
  position: absolute;
  color: black;
  background-color: white;
  width: 35px;
  margin-top: 2px;
  margin-right: 5px;
  font-size: 23px;
  border-width: 1px;
  height: 27px;
  line-height:1;
}

.usereditbutton {
  right: 0px;
  
}

.modelmenubutton {
  position: absolute;
  color: black;
  width: 35px;
  margin-top: 2px;
  margin-right: 5px;
  font-size: 26px;
  height: 27px;
  line-height: 1;
  left: 363px;
  top: 21px;
  border-style: none;
  outline: none;
  background-color: transparent;
  z-index:10000000;
}


#sidebar_modellist {
  height: 100%;
  position: relative;
}
